argcomplete==3.6.3
black==25.9.0
boto3==1.40.62
botocore==1.40.62
cc_py_sdk @ https://github.com/USACE-Cloud-Compute/cc-py-sdk/releases/download/v1.1.0/cc_py_sdk-1.1.0-py3-none-any.whl#sha256=cea82a3b3b3e572d4fbaf884f073a3152f56654496c737eef599dcbdbf0da6b1
click==8.3.0
dataclasses==0.6
dataclasses-json==0.6.7
hecdss==0.1.28
iniconfig==2.3.0
jmespath==1.0.1
marshmallow==3.26.1
mypy_extensions==1.1.0
numpy==2.3.4
packaging==25.0
pathspec==0.12.1
pipx==1.8.0
platformdirs==4.5.0
pluggy==1.6.0
pyarrow==22.0.0
Pygments==2.19.2
pylance==0.38.3
pytest==8.4.2
python-dateutil==2.9.0.post0
pytokens==0.2.0
s3transfer==0.14.0
six==1.17.0
tiledb==0.35.1
typing-inspect==0.9.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
userpath==1.9.2
